 <%= bingo_board.player.name %>'s board
 <div class="bingoboard">
  <% bingo_board.squares.each do |square| %>
  <%= button_to square.text, square_path(id: square.id), method: :patch %>
   <% end %>
</div>
